body {
  margin: 0 auto;
  max-width: 50em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
  color: rgb(56, 56, 56);
}

.kuva {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

.kuvateksti {
  display: block;
  text-align: center;
  font-size: 14px;
}